doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Users List
  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    }
    h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    }
    th,
    td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    th {
    background-color: #f2f2f2;
    color: #333;
    }
    tr:nth-child(even) {
    background-color: #f9f9f9;
    }
    tr:hover {
    background-color: #f1f1f1;
    }
    .home-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: blue;
    text-decoration: none;
    }
    .filter-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    }
    .filter-container input[type='text'] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    }
    .filter-container input[type='submit'] {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    .filter-container input[type='submit']:hover {
    background-color: #45a049;
    }
    .btn{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 100px;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
body
  a.home-link(href='/home') Home
  if user 
    button.btn(onclick='logout()') Logout
  .container
    h1 Users List
    .filter-container
      label(for='filterId') Filter ID:
      input#filterId(type='text')
      button(onclick='filterUsers()') Search
      a#showAll(href='#') Show All
    table
      thead
        tr
          th ID
          th Name
          th Email
          th LastPassChange
          th Role
          th Aadhar
      tbody#userTableBody
  script.
    async function logout() {
    try{
    const res = await fetch('api/v1/users/logout')
    data = await res.json()
    if(data.status === 'success') {
      location.reload(true);
      location.href = '/home';
      }
    }
    catch(err){
      console.log(err);
    }    
    }
    function fetchUserById(id) {
    fetch(`/api/v1/users/${id}`)
    .then((response) => response.json())
    .then((data) => {
    const user = data.data;
    const userTableBody = document.querySelector('#userTableBody');
    userTableBody.innerHTML = '';
    user.forEach((user) => {
    const row = document.createElement('tr');
    row.innerHTML = `
    <td>${user.id || ''}</td>
    <td>${user.name || ''}</td>
    <td>${user.email || ''}</td>
    <td>${user.LastPassChange || ''}</td>
    <td>${user.role || ''}</td>
    <td>${user.aadhar || ''}</td>
    `;
    userTableBody.appendChild(row);
    });
    history.pushState(null, null, newUrl);
    })
    .catch((error) => console.error('Error fetching user data:', error));
    }
    function fetchAllUsers() {
    fetch('/api/v1/users')
    .then((response) => response.json())
    .then((data) => {
    const users = data.data;
    const userTableBody = document.querySelector('#userTableBody');
    userTableBody.innerHTML = '';
    users.forEach((user) => {
    const row = document.createElement('tr');
    row.innerHTML = `
    <td>${user.id || ''}</td>
    <td>${user.name || ''}</td>
    <td>${user.email || ''}</td>
    <td>${user.LastPassChange || ''}</td>
    <td>${user.role || ''}</td>
    <td>${user.aadhar || ''}</td>
    `;
    userTableBody.appendChild(row);
    });
    history.pushState(null, null, newUrl);
    })
    .catch((error) => console.error('Error fetching user data:', error));
    }
    function filterUsers() {
    const filterId = document.getElementById('filterId').value;
    if (filterId.trim() !== '') {
    fetchUserById(filterId);
    } else {
    fetchAllUsers();
    }
    }
    fetchAllUsers();
    document
    .getElementById('showAll')
    .addEventListener('click', function (event) {
    event.preventDefault();
    fetchAllUsers();
    });
